:root {
	--bitcoin-orange: #f7931a;
	--soft-orange: #ffe9d5;
	--secondary-blue: #1a9af7;
	--soft-blue: #e7f5ff;
	--warm-black: #282623;
	--black: #201e1c;
	--grey: #bababa;
	--off-white: #faf8f7;
	--just-white: #fff;
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	font-size: 62.5%;
	font-family: 'DM Sans', sans-serif;
}
header {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	min-width: 320px;
	height: 334px;
	text-align: center;
	background: linear-gradient(207.8deg, #201e1c 16.69%, #f7931a 100%);
}
header img {
	width: 150px;
	height: 24px;
	margin-top: 60px;
	/* When giving size styles, header design will break and element will no longer be centered. They way to center an element whose father has flex, is using align-self */
	align-self: center;
}
.header__title-container {
	width: 90%;
	min-width: 288px;
	max-width: 900px;
	height: 218;
	margin-top: 40px;
	text-align: center;
	align-self: center;
}
.header__title-container h1 {
	font-size: 2.4rem;
	font-weight: bold;
	line-height: 2.6rem;
	color: var(--just-white);
}
.header__title-container p {
	margin-top: 25px;
	font-size: 1.4rem;
	font-weight: 500;
	line-height: 1.8rem;
	color: var(--soft-orange);
}
.header__button {
	position: absolute;
	/*Calc makes the calculation and position the content at 50%, but 50% from left side, so it is not centered. If we subtract half of the size of the container, it will be centered.*/
	left: calc(50% - 114px);
	top: 270px;
	display: block;
	margin-top: 35px;
	padding: 15px;
	width: 229px;
	height: 48px;
	background-color: var(--off-white);
	box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
	border: none;
	border-radius: 5px;
	font-size: 1.4rem;
	font-weight: bold;
	text-decoration: none;
	color: var(--black);
}
.header__button span {
	display: inline-block;
	width: 13px;
	height: 8px;
	margin-left: 10px;
	background-image: url('../assets/icons/down-arrow.svg');
}
main {
	width: 100%;
	min-width: 320px;
	height: auto;
	background-color: var(--off-white);
}
.main__exchange-container {
	width: 100%;
	height: auto;
	padding-top: 80px;
	padding-bottom: 30px;
	text-align: center;
}
.main__exchange-container--title {
	width: 90%;
	min-width: 288px;
	max-width: 900px;
	margin: 0 auto;
}
.backgroundImg {
	/*Image is inside a div. If I don't give height and width, image will be hidden, as div as no dimensions on its own.*/
	width: 200px;
	height: 200px;
	margin: 0 auto;
	margin-bottom: 50px;
	background-image: url('../assets/img/bitcoin.svg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.main__exchange-container h2 {
	margin-bottom: 30px;
	font-size: 2.4rem;
	font-weight: bold;
	line-height: 2.6rem;
	color: var(--black);
}
.main__exchange-container--p {
	margin-bottom: 30px;
	font-size: 1.4rem;
	font-weight: 500;
	line-height: 1.6rem;
	color: #757575;
}
.main__tables-container {
	display: flex;
	height: 400px;
	overflow-x: scroll;
	overscroll-behavior-x: contain;
	scroll-snap-type: x proximity;
}

.main__currency-table {
	scroll-snap-align: center;
	width: 70%;
	min-width: 235px;
	max-width: 500px;
	height: 360px;
	margin: 0 40px;
	font-family: 'Inter', sans-serif;
}
.currency-table__title {
	margin-bottom: 15px;
	font-size: 1.8rem;
	font-weight: bold;
	line-height: 2.3rem;
	color: var(--bitcoin-orange);
}
.currency-table__container {
	width: 90%;
	min-width: 230px;
	max-width: 300;
	height: 250px;
	margin: 0 auto;
}
.currency-table__container table {
	width: 100%;
	height: 100%;
}
.currency-table__container td {
	width: 50%;
	font-size: 1.6rem;
	font-weight: 500;
	line-height: 1.9rem;
	color: var(--grey);
	background-color: var(--just-white);
}
/* Table tag is not a container on its own, it works to give context. If I apply border-radius, visually there will be no change. In case of tables, I have to give every corner a different class to apply radius. */
.table--top-left {
	border-radius: 15px 0 0 0;
}
.table--top-right {
	border-radius: 0 15px 0 0;
}
.table--bottom-left {
	border-radius: 0 0 0 15px;
}
.table--bottom-right {
	border-radius: 0 0 15px 0;
}
.table--right {
	font-size: 1.4rem;
	font-weight: normal;
	line-height: 1.7rem;
	color: #757575;
}
.currency-table__container .down {
	display: inline-block;
	width: 15px;
	height: 15px;
	margin-left: 10px;
	background-image: url(../assets/icons/trending-down.svg);
	background-size: cover;
}
.currency-table__container .up {
	display: inline-block;
	width: 15px;
	height: 15px;
	margin-left: 10px;
	background-image: url(../assets/icons/trending-up.svg);
	background-size: cover;
}
.currency-table__date {
	width: 190px;
	height: 30px;
	margin: 15px auto 0px auto;
	padding: 8px;
	background-color: var(--soft-orange);
	border-radius: 8px;
}
.currency-table__date p {
	font-size: 1.2rem;
	line-height: 1.5rem;
	color: var(--warm-black);
}
.main__commission-table {
	scroll-snap-align: center;
	width: 70%;
	min-width: 235px;
	max-width: 500px;
	height: 360px;
	margin: 0 40px;
	font-family: 'Inter', sans-serif;
}
.commission-table__title {
	margin-bottom: 15px;
	font-size: 1.8rem;
	font-weight: bold;
	line-height: 2.3rem;
	color: var(--secondary-blue);
}
.commission-table__container {
	width: 90%;
	min-width: 230px;
	max-width: 300;
	height: 250px;
	margin: 0 auto;
}
.commission-table__container table {
	width: 100%;
	height: 100%;
}
.commission-table__container td {
	width: 50%;
	font-size: 1.6rem;
	font-weight: 500;
	line-height: 1.9rem;
	color: var(--grey);
	background-color: var(--just-white);
}
.commission-table__date {
	width: 190px;
	height: 30px;
	margin: 15px auto 0px auto;
	padding: 8px;
	background-color: var(--soft-blue);
	border-radius: 8px;
}
.commission-table__date p {
	font-size: 1.2rem;
	line-height: 1.5rem;
	color: var(--warm-black);
}
.main__product-detail {
	/* It's important to apply relative position here so logo, that will have absolute position, positions with regard to this one */
	position: relative;
	width: 100%;
	min-width: 320px;
	height: auto;
	padding: 20px 10px;
	background-color: var(--warm-black);
}
.product-detail__batata-logo {
	position: absolute;
	width: 40px;
	height: 25px;
	top: -10px;
	left: calc(50% - 20px);
	background-image: url(../assets/icons/batata.svg);
}
.product-detail__title {
	width: 90%;
	min-width: 288px;
	height: auto;
	margin: 50px auto 0px auto;
	text-align: center;
}
.product-detail__title h2 {
	margin-bottom: 20px;
	font-size: 2.4rem;
	font-weight: bold;
	line-height: 2.6rem;
	color: var(--just-white);
}
.product-detail__title p {
	margin-bottom: 20px;
	font-size: 1.4rem;
	font-weight: 500;
	line-height: 1.8rem;
	color: #808080;
}
.product-detail__card {
	width: 90%;
	min-width: 288px;
	max-width: 400px;
	min-height: 150px;
	margin: 15px auto;
	padding: 15px;
	background-color: var(--black);
	border-radius: 5px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}
.product__icon {
	display: inline-block;
	width: 20px;
	height: 10px;
	margin-bottom: 10px;
}
.product__card-title {
	margin-bottom: 15px;
	font-size: 1.8rem;
	font-weight: bold;
	line-height: 1.8;
	color: var(--just-white);
}
.product__card-body {
	font-size: 1.4rem;
	font-weight: 500;
	line-height: 1.8rem;
	color: #808080;
}
.bitcoin-img-container {
	width: 100%;
	min-width: 320px;
	height: 50vh;
	background-image: url('../assets/img/bitcoinbaby2x.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
}
.bitcoin-img-container h2 {
	padding-top: 60px;
	font-size: 2.4rem;
	font-weight: bold;
	line-height: 2.6rem;
	color: var(--just-white);
}
.main__plans-container {
	width: 100%;
	min-width: 320px;
	padding-bottom: 70px;
	text-align: center;
}
.plans__title {
	width: 90%;
	min-width: 288px;
	height: auto;
	margin: 0 auto 40px auto;
}
.plans__title h2 {
	padding-top: 50px;
	font-size: 2.4rem;
	font-weight: bold;
	line-height: 2.6rem;
	color: var(--black);
}
.plans__title p {
	padding-top: 30px;
	font-size: 1.4rem;
	font-weight: 500;
	line-height: 1.8rem;
	color: #757575;
}
.plans-container__slider {
	display: flex;
	height: 316px;
	/* To create horizontal scrolling */
	overflow-x: scroll;
	overscroll-behavior-x: contain;
	scroll-snap-type: x proximity;
}

.plans-container__card {
	position: relative;
	/* Card will automatically be centered when scrolling and leaving the bar between two of them*/
	scroll-snap-align: center;
	width: 70%;
	min-width: 190px;
	max-width: 300px;
	height: 250px;
	margin: 50px 20px 0;
	padding: 0 15px;
	background-color: var(--just-white);
	border-radius: 15px;
	box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
}
.tinyCard {
	position: absolute;
	width: 120px;
	height: 31px;
	left: calc(50% - 60px);
	top: -15px;
	font-size: 1.2rem;
	padding: 6px;
	border-radius: 8px;
	color: var(--just-white);
}
.basic {
	background-color: var(--secondary-blue);
}
.recommended {
	background-color: var(--bitcoin-orange);
}
.limited {
	background-color: var(--warm-black);
}
.plan-card__title {
	padding-top: 30px;
	font-size: 1.4rem;
	font-weight: 500;
	line-height: 1.8rem;
	color: var(--black);
}
.plan-card__price {
	padding: 5px 0;
	font-size: 5.2rem;
	font-weight: bold;
	color: var(--black);
}
.plan-card__price span {
	font-size: 1.2rem;
	font-weight: 300;
	vertical-align: 25px;
}
.plan-card__saving {
	font-size: 1.2rem;
	color: #757575;
}
.plan-card__call {
	width: 150px;
	height: 48px;
	margin-top: 20px;
	background-color: #faf8f7;
	border: 2px solid var(--bitcoin-orange);
	border-radius: 4px;
	font-size: 1.4rem;
	font-weight: bold;
	line-height: 1.8rem;
	color: var(--black);
	font-family: 'DM Sans', sans-serif;
}
.plan-card__call span {
	display: inline-block;
	width: 20px;
	height: 20px;
	background-image: url('../assets/icons/orange-right-arrow.svg');
	vertical-align: text-bottom;
}
.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 150px;
	background-color: var(--bitcoin-orange);
}
.footer__left {
	width: 40%;
}
.footer__left--ul {
	font-size: 1.4rem;
	font-weight: 500;
	line-height: 1.8rem;
	list-style: none;
}
.footer__left--li {
	margin: 10px 0;
}
.footer__left--a {
	text-decoration: none;
	color: var(--just-white);
}
@media screen and (min-width: 930px) {
	.product-cards__container {
		display: flex;
		flex-wrap: wrap;
		width: 930px;
		margin: 0 auto;
	}
	.plans-container__slider {
		justify-content: center;
	}
	.main__tables-container {
		justify-content: center;
	}
	.main__tables-container::-webkit-scrollbar {
		display: none;
	}
	.plans-container__slider::-webkit-scrollbar {
		display: none;
	}
}
